 /* Remove the navbar's default margin-bottom and rounded borders */

 .navbar {
     margin-bottom: 0;
     border-radius: 0;
 }

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

 .row.content {
     height: calc(100vh - 112px);
     overflow: auto;
 }

 /* Set gray background color and 100% height */

 .sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;
     overflow: auto;
 }

.centro {
    height: 100%;
    overflow: auto;
}
 /* Set black background color, white text and some padding */

 footer {
     background-color: #555;
     color: white;
     padding: 15px;
     position: relative;
 }

 /* On small screens, set height to 'auto' for sidenav and grid */

 @media screen and (max-width: 767px) {
     .sidenav {
         height: auto;
         padding: 15px;
     }
     .row.content {
         height: auto;
     }
 }

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: -20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

.textorojo {
    color: red;
}

.textoverde {
   color: green;
}
th {
    text-align: center;
}

.fuentepeque {
    font-size: 10px;
}
